.formFlex {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
}

.searchDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.searchBar {
  width: 95%;
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  padding-left: 20px;
}

.searchBar::placeholder {
  font-size: 20px;
}

.searchIcon {
  height: 50px;
  width: 50px;
  border: 3px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -3px;
}

.advanceSearchBtn {
  border: 3px solid black;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.advanceSearchBtn:hover {
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}
