.container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 50px;
  margin-bottom: 50px;

  background-position: center;
  background-size: 100% 600px;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../Assets/guitar-classic-black-chords.jpg");
}

.topText {
  font-size: 60px;
}

.middleText {
  font-size: 40px;
  width: 60%;
}
