.container {
  max-width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  padding-bottom: 20%;
}

.imageWrapper {
  margin: 0;
  padding: 0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

.overlayText {
  position: absolute;
  top: 70%;
  left: 18%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.content {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  margin-top: 1.25rem;
  max-width: 50rem;
  width: 100%;
  text-align: left;
}

.bulletList {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.bulletList li {
  list-style-type: disc;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.bold {
  font-weight: bold;
}

.guideHeading {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 1.8rem;
}
.guideList {
  list-style-type: decimal;
  margin-left: 20px;
  margin-bottom: 18px;
  padding-left: 20px;
  line-height: 1.3;
}

.guideList li {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

/* responsive */

@media screen and (max-width: 400px) {
  .overlayText {
    top: 85%;
    left: 5%;
  }
  .description {
    font-size: 1rem;
  }
  .bulletList {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 10px;
  }

  .guideHeading {
    font-size: 1.4rem;
  }
  .guideList {
    margin-left: 10px;
    padding-left: 10px;
  }
  .guideList li {
    font-size: 1rem;
  }
}
