.filterContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 50px auto;
  gap: 30px;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 3px solid black;
  align-items: center;
}

.result {
  font-size: 26px;
}

.filterOptions {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 26px;
}

.filterOptions button {
  font-size: 16px;
}

.filterOptions button:hover {
  text-decoration: underline 3px lightcoral;
  text-underline-offset: 5px;
}

.active {
  text-decoration: underline 3px lightcoral;
  text-underline-offset: 5px;
}
