footer {
  /* height: 200px; */
  width: 100%;
  padding: 50px 15%;
  background-color: black;
}

.topFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.topFooterLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding-bottom: 25px;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 250px;
}

.title {
  font-size: 24px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}

.links {
  font-size: 18px;
  color: rgb(202, 202, 202);
}

.text {
  font-size: 18px;
  color: rgb(202, 202, 202);
}

.botFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  color: white;
}

.botFooterIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
