
  
  .contact_form .form-control {
    padding: 1.375rem .75rem;
    line-height: 1.5;
    color: white;
    background-color:black;
    border-radius: 0 !important;
    border: 1px solid white;
  }
  
  .contact_form input .form-control{
    margin-bottom: 2em;
    height: calc(2.5em + .75em + 2px);
  }
  
  .btn {
    color: white;
    border: 2px solid;
  }
  .btn:hover{
    color: white;

  }
  
  