.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: var(--black);
  color: white;
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

.navbarItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  font-size: inherit;
}

.item {
  padding: 20px 20px;
}

.loginDiv {
  height: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
  align-self: center;
  color: black;
  background-color: white;
}

.loginBtn {
  font-size: 20px;
  background-color: inherit;
  border: none;
  height: 100%;
  width: 100%;
}

.loginDiv:hover {
  background-color: lightcoral;
}
