.item {
    width: 23%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
  .item img {
    height: 120px !important;
    width: fit-content;
  }
  
  .albumInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding: 5px 15px;
    gap: 10px;
  }
  
  .albumTitle {
    font-size: 30px;
    text-align: start;
    color: red;
  }
  
  .albumText {
    font-size: 18px;
  }