.container {
  margin: 0% 20%;
}

.breadcrumbs {
  padding: 30px 0px;
  text-align: start;
  font-size: 18px;
}

.breadcrumbs a:hover {
  font-weight: 700;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  margin-bottom: 50px;
}

.albumImg {
  border-radius: 30px;
  min-width: 290px !important;
}

.importantInfo {
  padding: 30px;
  border-radius: 30px;
  border: black 2px solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  max-height: 300px;
}

.title {
  font-size: 30px;
  letter-spacing: 1px;
}

.statTable {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
}

.statTitle,
.statValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.titleSec {
  text-decoration: underline black;
  text-underline-offset: 10px;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: start;
}

.titleSecSongs {
  text-decoration: underline black;
  text-underline-offset: 10px;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: start;
  margin-bottom: 30px;
}

.infoText {
  padding: 30px 20px;
  margin: 10px 0px;
  text-align: start;
  background-color: white;
  border-radius: 20px;
}

.infoTags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 30px 5px;
  flex-wrap: wrap;
}

.tags {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
}

.tags:hover {
  background-color: lightcoral;
  color: black;
}

.filters {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  gap: 1px;
  margin: 30px auto;
}

.filterBand {
  padding: 20px 40px;
  font-size: 24px;
  border: 3px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 60px;
  width: 50%;
}

.filterSolo {
  padding: 20px 40px;
  font-size: 24px;
  border: 3px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 60px;
  width: 50%;
}

.filterBand:hover,
.filterBand:active,
.filterSolo:hover,
.filterSolo:active {
  color: white;
  background-color: lightcoral;
  border: 3px solid white;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.6);
}

.songList {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 205, 205);
  border: 3px solid black;
  justify-content: flex-start;
  column-gap: 50px;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 0px 10px;
  /* height: 260px; */
  /* overflow-y: scroll; */
}

.songList::-webkit-scrollbar {
  width: 10px;
}

.songList::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.songList::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.songList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.songItem {
  width: 45%;
  height: fit-content;
  border-bottom: 1px solid black;
  padding: 15px 5px;
  text-align: center;
  /* margin: 10px 2px; */
}

.dummyText {
  font-size: 20px;
}

/* responsive  */

@media screen and (max-width: 1400px) {
  .container {
    margin: 0px 10%;
  }
}

@media screen and (max-width: 991px) {
  .container {
    margin: 0px 5%;
  }
  .songList {
    width: 98%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0px 2%;
  }
  .infoContainer {
    gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .infoContainer {
    flex-direction: column;
    align-items: center;
  }
  .albumImg,
  .importantInfo {
    width: 95% !important;
    max-height: fit-content;
  }
  .titleSec,
  .titleSecSongs {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .songItem {
    width: 100%;
  }
}
